%header
  .inner
    %h1 Hi #{current_user.name}!
    %p.center= link_to 'New Transaction', new_transaction_path, class: "btn btn-primary"

%br
.span6
  #transactions_chart

.span5
  = gmaps4rails(@markers)

.transactions.span8

  %table
    %tr
      %th Date
      %th Amount
      %th
      %th
      %th

    - @transactions.each do |transaction|
      %tr
        %td= transaction.created_at
        %td= real_currency transaction.amount
        %td
        %td= link_to 'Show', transaction
        %td= link_to 'Destroy', transaction, :confirm => 'Are you sure?', :method => :delete

  %br

