%p#notice= notice

%p
  %b Amount:
  = @transaction.amount
%p
  %b Lat:
  = @transaction.lat
%p
  %b Long:
  = @transaction.long

= gmaps("markers" => {"data" => @markers, "options" => {"rich_marker" => true } })

= link_to 'Edit', edit_transaction_path(@transaction)
= link_to 'Back', transactions_path

