!!!
%html
  %head
    %title CashTracker
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "gmaps4rails"
    = javascript_include_tag "application"
    = csrf_meta_tags
    == <meta name="viewport" content="width=device-width", initial-scale=1.0" />
%body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %button.btn.btn-navbar{type: "button", data: {toggle: "collapse", target: ".nav-collapse"} }
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to "CashTracker", root_path, class:"brand"
        .nav-collapse.collapse
          %ul.nav
            %li= link_to "About Us", "#"
            %li= sign_in_out_link
  .container
    = yield

  = yield :scripts
